body{
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
}
img{
  width: 300px;
  border-radius:50%;
}
h1{
  color: #64FFDA;
  font-size: 20px;
}
h2{
  color: #64FFDA;
  font-size: 20px;
}
p{
  color: #18FFFF;
  font-size: 19px;
}
